/*Primary header*/


h1{

font-family: 'Fontdiner Swanky', cursive;
color: red;

}


/*Body Text*/


p{


line-height: 1.5em;
color: #eee;

}


/*Links*/


a:link, a:visited{

text-transform: uppercase;
border-bottom: double black 2px;
text-decoration: none;


}


/* Set Your Own Margin & Padding */
h2, h3, p {
	margin: 0;
}

/* Layout for Style Tile*/
section {
	margin: 20px 0;
}

.color-1,
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3 {
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}

/*Color Palette*/

.color-1{

background: teal;

}

.color-2{


background: cornflowerblue;

}


.color-3{

background: red;

}


/*Textures*/

.pattern-1{

background-image: url(http://www.transparenttextures.com/patterns/ag-square.png);

}

.pattern-2{

background: url("..img/upfeathers.png")

}

.pattern-3{



}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}